@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 2xp;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size :large;
}

body {
  color: rgb(var(--foreground-rgb));
  background : #e8e8e8 ;
}

.card {
  margin: 30px;
    display: flex;
    justify-content: center;
}

.card-body {
  padding: 13px;
  margin: 7px;
  width:550px;
  height: 250px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.btn{
   padding: 8px 25px;
   display: block;
   margin: auto;
   border-radius: 8px;
   border: none;
   margin-top: 30px;
   background: #6b64f3;
   color: white;
   font-weight: 600;
   }