@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,200&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 2xp;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 80cm;
  font-size: large;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

.card {
  margin: 70px;
  display: flex;
  justify-content: center;
}

.card-body {
  padding: 20px;
  margin: 7px;
  width: 580px;
  height: 270px;
  border-radius: 30px;
  background: #f1f1f1;
  box-shadow: 20px 20px 40px #d0d0d0,
    -20px -20px 60px #ffffff;
}

.btn {
  width: 200px;
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
}